* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100vh;
    display: grid;
    place-items: center;
}
.btn {
    padding: 30px;
    background-color: rgb(92, 92, 212);
    color: white;
}

.active {
    background-color: black;
    
}