*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    position: relative;
}

.sec_1 {
    height: 100vh;
    background-color: red;
}

.sec_2 {
    height: 100vh;
    background-color: rgb(157, 255, 0);
}

.sec_3 {
    height: 100vh;
    background-color: rgb(17, 0, 255);
}

.btn {
    position: fixed;
    bottom: 3%;
    right: 3%;
    background-color: aqua;
    padding: 1%;
    border-radius: 20px;
    text-decoration: none;
    font-size: 50px;
    font-weight: bolder;
    color: black;
}